<div class="game-board" style="width:480px; height:560px">
  {{#if showWin}}
    {{end-game}}
  {{else}}
    {{#each gameState.tiles as |tileUnit|}}
      {{game-tile tile=tileUnit}}
    {{/each}}
  {{/if}}
</div>