html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#game-board {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

#end-game {
  /*position: relative;*/
  /*display: inline-block;*/
  /*vertical-align: top;*/
  /*background-image: url(/assets/images/win.gif);*/
  width: 100%;
  /*width: 100px;*/
  height: 100%;
  /*height: 100px;*/
  /*background-size: 100% 100%;*/
}

.tile {
  position: absolute;
  background-size: cover;
}

.tile-nothing {
}

.tile-floor {
  background-image: url(/assets/images/floor.png);
}

.tile-wall {
  background-image: url(/assets/images/wall.png);
}

.tile-form {
  background-image: url(/assets/images/form.png);
}

.tile-finish {
  background-image: url(/assets/images/finish.png);
}

.tile-player {
  background-image: url(/assets/images/player.png);
}
